/* App.css */
.App {
  display: flex;
}

.sidebar {
  width: 240px;
  transition: width 0.3s;
  background-color: #333; /* Adjust the background color */
  color: #fff; /* Adjust the text color */
  padding: 20px;
}

.sidebar.closed {
  width: 72px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 40px;
  margin-right: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.menu-item img {
  max-width: 24px;
  margin-right: 10px;
}

.menu-item.active {
  background-color: #555; /* Adjust the active menu item background color */
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

.toggle-button {
  cursor: pointer;
  max-width: 30px;
  margin-top: 20px;
}

.toggle-button.rotate-180 {
  transform: rotate(180deg);
}

.content {
  flex-grow: 1;
  padding: 20px; /* Add appropriate padding */
  background-color: #f0f0f0; /* Adjust the background color */
}
